<view-actions>
	<slot></slot>
</view-actions>

<style>
	view-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		padding: 0 8px 0 16px;
		width: 100%;

		.actions {
			display: flex;
			align-items: center;
			gap: 2px;

			action-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 4px;
				border-radius: 4px;
				color: var(--vscode-foreground);
				cursor: default;

				&:hover {
					background: var(--vscode-icon-button-hover-bg);
				}
			}
		}

		view-title {
			font-size: 12px;
			font-weight: 400;
			color: var(--vscode-foreground);
			text-transform: uppercase;
			margin: 0;
			user-select: none;
		}
	}
</style>
