vs-code[hero-editor] {
	cursor: default;
	user-select: none;
	height: 100%;

	.main-area {
		grid-template-columns: 25% 1fr 30%;
	}

	activity-bar {
		activity-icon {
			cursor: default;

			&:hover:not([active]) svg {
				color: var(--vscode-foreground-secondary);
			}
		}
	}

	tab-bar {
		tab-item:hover {
			cursor: pointer;
		}
	}

	view-actions {
		.actions {
			action-icon {
				cursor: default;
				&:hover {
					background: var(--vscode-model-picker-hover-bg);
				}
			}
		}
	}

	collapsible-container {
		vscode-button {
			width: 85%;
			margin: 10px auto;
		}
	}

	chat-input {
		.chat-pickers {
			user-select: none;

			mode-picker,
			model-picker {
				cursor: pointer;
				color: var(--vscode-foreground-secondary);

				&:hover {
					background: var(--vscode-icon-button-hover-bg);
					color: var(--vscode-foreground);
				}
			}
		}
		.chat-actions {
			cursor: default;
			user-select: none;
			color: var(--vscode-foreground-secondary);

			& > * {
				cursor: default;
			}
			& > *:hover {
				background: var(--vscode-icon-button-hover-bg);
			}
		}
	}
}

@media (max-width: 875px) {
	vs-code[hero-editor] {
		.main-area {
			grid-template-columns: 35% 1fr;
		}
		secondary-side-bar {
			display: none;
		}
	}
}
@media (max-width: 725px) {
	vs-code[hero-editor] {
		height: 500px;
		.main-area {
			grid-template-columns: 40% 1fr;
		}
		secondary-side-bar {
			display: none;
		}
	}
}
@media (max-width: 650px) {
	vs-code[hero-editor] {
		height: 500px;
		.main-area {
			grid-template-columns: 45% 1fr;
		}
		secondary-side-bar {
			display: none;
		}
	}
}
@media (max-width: 615px) {
	vs-code[hero-editor] {
		height: 480px;
		.main-area {
			grid-template-columns: 1fr;
		}
		secondary-side-bar {
			display: flex;
		}
		primary-side-bar,
		editor-well {
			display: none;
		}
	}
}
@media (max-width: 430px) {
	vs-code[hero-editor] {
		height: 520px;
		.main-area {
			grid-template-columns: 1fr;
		}
		secondary-side-bar {
			display: flex;
		}
		primary-side-bar,
		editor-well {
			display: none;
		}
	}
}
@media (max-width: 360px) {
	vs-code[hero-editor] {
		height: 560px;
	}
}
